.intro {
  width: 100%;
  margin-left: 148px;
}

.intro__title {
  max-width: 828px;
  margin: 92px 0 0;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.2;
}

.intro__text-phrase {
  width: 736px;
  margin: 75px 396px 0 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

.intro__text-author {
  width: 720px;
  margin: 9px 412px 0 0;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: right;
}

.intro__text-description {
  width: 720px;
  height: 182px;
  margin: 32px 0 0;
  font-size: 1rem;
  line-height: 1.2;
}

@media only screen and (max-width: 768px) {
  .intro {
    margin: 0;
  }

  .intro__title {
    width: 707px;
    height: 174px;
    margin: 88px 37px 0 24px;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.2;
  }

  .intro__text-phrase {
    width: 707px;
    height: 102px;
    margin: 58px 37px 0 24px;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .intro__text-author {
    width: 720px;
    height: 34px;
    height: 34px;
    margin: 26px auto 0;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .intro__text-description {
    width: 720px;
    height: 182px;
    margin: 32px auto 0;
    font-size: 1rem;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 480px) {
  .intro__title {
    width: 288px;
    height: 175px;
    margin: 44px auto 0;
    font-size: 2rem;
    line-height: 1;
  }

  .intro__text-phrase {
    width: 288px;
    height: 180px;
    margin: 54px auto 0;
  }

  .intro__text-author {
    width: 288px;
    height: 34px;
    margin: 55px 0 auto;
  }

  .intro__text-description {
    width: 288px;
    height: 442px;
    margin: 18px auto 0;
    line-height: 26.08px;
  }
}
