.photo__grid {
  max-width: 1184px;
  height: 442px;
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 16px;
}

.photo__grid-item {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 985px) {
  .photo__grid {
    height: 1104px;
    margin: 64px 24px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
  }

  .photo__grid-item {
    height: 264px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 470px) {
  .photo__grid {
    height: 1812px;
    margin: 38px 16px 0;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .photo__grid-item {
    height: 216px;
  }
}
